@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

.page-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card{
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgb(212, 212, 212);
  width: 400px;
}

.btn{
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover, .btn:focus{
  background-color: grey;
}

.btn-login{
  background-color: black;
  color: white;
}

.btn-login:hover, .btn-login:focus{
  background-color: rgb(61, 61, 61);
}

.input-group{
  position: relative;
  margin: 1rem 0;
}

.d-flex{
  display: flex;
}

.input-control{
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 0.5px solid rgb(192, 192, 192);
  outline-style: none;
}

.input-control:focus{
  /* border: 0.5px solid rgb(0, 0, 0); */
  border-width: 2px;
  border-color: black;
}

.input-label{
  position: absolute;
  top: 15px;
  left: 15px;
  color: rgb(192, 192, 192);
  font-size: small;
  pointer-events: none;
  transition: 0.1s;
}

.input-control:focus + .input-label, .input-control:not(:placeholder-shown) + .input-label {
  top: -8px;
  left: 10px;  
  background-color: white;
  font-size: smaller;
  padding: 0 5px;
  transition: 0.1s;
}

.input-control:focus + .input-label {
  color: black;
}

.ml-auto{
  margin-left: auto;
}

.text-small{
  font-size: smaller;
}

.pointer{
  cursor: pointer;
}

.justify-center{
  align-items: center;
}